@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Dokdo&display=swap');

:root {
    --blue: #335C67;
    --yellow: #fff3b0;
    --orange: #e09f3ebc;
    --darkorange: #b93b22;
    --red: #9e2a2b;
    --darkred: #540b0e;
  }

.profilePageContainer {
    margin-top: 5rem;
    background-color: var(--orange);
    width: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedPageContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
}

.dogHeroImage {
    margin: auto;
    width:35rem;
    height:45rem;
}

.contentCol {
    border: solid 10px var(--blue);
    border-radius: 25px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
}

.messageCol {
    border: none;
    min-height: 100vh;
    /* background-color:rgba(0, 0, 0, 0.109); */
    border-radius: 25px;
    margin-right: 1rem;
    padding: 4px;
}

.conversationRow {
    height: max-content;
    border: solid 2px var(--blue);
    background-color:white;
    border-radius: 6px;
    margin-top: 8px;
}

.messageHeader {
    color: var(--darkred);
    font-family: Dokdo;
    background-color:white;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    background-color: white;
    color: black;
    height: 4rem;
}

.navRight {
    float: right;
    display: flex;
    justify-content: center;
    margin-right:12rem;
}

a.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:bold;
    color: rgb(80, 78, 78);
    text-transform: uppercase !important;
    transition-timing-function: ease-in;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a.nav-link:hover {
    border-bottom: 4px solid var(--darkorange);
    border-right: 4px solid var(--darkorange);
    border-top: 4px solid var(--blue);
    border-left: 4px solid var(--blue);
    color: rgb(80, 78, 78) !important;
}

a.nav-link:active {
    border-bottom: 4px solid var(--darkorange);
    border-right: 4px solid var(--darkorange);
    border-top: 4px solid var(--blue);
    border-left: 4px solid var(--blue);
    color: rgb(80, 78, 78) !important;
}

a.nav-link:focus {
    border-bottom: 4px solid var(--darkorange);
    border-right: 4px solid var(--darkorange);
    border-top: 4px solid var(--blue);
    border-left: 4px solid var(--blue);
    color: rgb(80, 78, 78) !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    font-weight: bold;
    color: var(--blue);
}

.logo {
    height: 7rem;
    width: 12rem;
    margin: 0.3rem;
    margin-left: 2rem;
}

.figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
    margin-top: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.walkthroughCard {
    position: relative;
    height: 13rem;
    width: 80rem;
    display: flex;
    flex-direction: row !important;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.walkthroughImage {
    width: 30% !important;
}

.walkthroughHeader {
    color: var(--darkred);
    text-align: center;
    font-size: 4rem !important;
    font-weight: bold !important;
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
    font-family: Cutive Mono;
    font-weight: bolder;
}

.walkthroughCardText {
    font-size: 1.5rem !important;
    color: black;
}

.walkthroughCardTitle {
    margin-bottom: 0.5rem !important;
    font-size: 2rem !important;
    font-weight: bold !important;
    color: var(--blue) !important;
    font-family: Dokdo;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createAccount {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
    font-family: Dokdo;
    width: 13rem;
    font-size: 1.4rem !important;
}

.testimonialCard {
    height: 23rem;
    width: 15rem;
    margin: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.darkredContainer {
    height: 30rem;
    background-color: var(--darkred);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background-color: var(--yellow);  
    margin-top: 1rem;      
  }

.dogdisplayHeader {
    color: var(--darkred);
    font-family: Cutive Mono;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;
    text-align: center;
}

.dogTitle {
    color: var(--darkred);
    font-weight: bold;
    font-family: 'Dokdo';
    font-size: 2rem;
    background-color: white;
}


.dogTags {
    font-family: Dokdo;
    color: var(--darkred);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
}


.loginBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5rem;
    text-align: center;
    border: 6px solid var(--orange);
}


.loginWords {
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.loginButton {
    border-radius: 25px;
    background-color: var(--yellow);
    width: 8rem;
    height: 3rem;
    border: 1px solid var(--yellow);
    font-family: Dokdo;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.registerWords {
    color: black;
    margin-right: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.loginInput {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.newMessageInput {

}

.resgisterInput {
    position:absolute;
    left:45rem;
    margin-bottom: 1rem;
}

.registerBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5rem;
    text-align: center;
    border: 6px solid var(--orange);
    padding: 0.5rem;
}

.registerImage {
    margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20rem;
}

.conversationSubject {
    font-style: italic;
}

.conversationDate {
    float: right;
}

.dropdown-toggle {
    background-color: var(--yellow);
    color: var(--darkred);
    /* margin-bottom: 5rem;
    margin-top: 3rem; */
    border: none;
    font-weight: bold;
}

/* .show>.btn-secondary.dropdown-toggle {
    background-color: var(--yellow);
    color: var(--darkred);
    margin-bottom: 8rem;
    margin-top: 3rem;
} */

.hero {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    padding: 10px;
    align-items: center;
    gap: 7rem;
}

.sloganImage {
    width: 40rem;
    height: 35rem;
    box-shadow: none !important;
    margin-top: 10rem;

}

.myDogs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
} 

.form-new-dog {
    display: flex;
    flex-direction: column;
}

.form-new-dog > * {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.modal-new-dog {
    max-height: 600px;
    overflow: scroll;
}

.message-from {
    font-weight: bold;
}

.messageModal {
    min-height: 600px;
    /* overflow:scroll;
    scroll-snap-type: y proximity; */
    border-radius: 25px;
}

.message-content {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.message-time {
    font-size: .75rem;
}

.notification-text {
    color: darkslategray;
    font-size: 2rem;
    list-style: none;
    font-style: bold;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
}

.notification-btn-plus {
    border-radius: 25px;
    color: var(--blue);
    margin-left: 1rem;
    border: none;
    font-size: 1.5rem;
    font-style: bold;
}

.notification-btn-x {
    border-radius: 25px;
    color: var(--red);
    margin-left: 1rem;
    border: none;
    font-size: 1.5rem;
    font-style: bold;

}

.example-feed-image {
    width: 53rem;
    height: 40rem;
    box-shadow: none;
}

.steps {
    margin: auto;
    width: 70%;
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.walkthrough-steps {
    box-shadow: none;
    margin-top: 12rem;
}

.loading-screen-wrapper {
    background: linear-gradient(to left top, var(--yellow), var(--orange), var(--blue), var(--red), var(--darkred));
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.paw-print-svg {
    height: 6rem;
    width: 6rem;
    animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
	100% {
		opacity: 1;
		transform: scale(1);
	}

	80% {
		opacity: 1;
		transform: scale(1.2);
	}
}

.dog-profile-div {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.connections-btn {
    display: flex;
}

.connectionTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.connections {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-size: 5rem;
    font-family: Dokdo;
    color: var(--blue);
    margin-left:auto;
    margin-right: auto;
}

.dogCard {
    margin-top: 0;
    /* margin-left: auto;
    margin-right: auto;
    /* Absolute position */
    position: absolute;
    /* top: 10rem; */
    /* Take full size */
    /* height: 100rem;
    width: 80rem; */
    
    /* Displayed under the container */
    /* z-index: -1; */
    left: 34rem;
    top: 10rem;
    
    /* Background and border colors */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    /* Rotate it. Change the number of degrees for the following cards */
    transform: rotate(3deg);
    min-height: 37rem;
    width: 23rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;

}

.feedDogs {
    margin: auto;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.imageSize {
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

.feed-dog-and-image-wrapper {
    display: flex;
    justify-content: center;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    align-items: center;
}

.owned-by {
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;

}

/* .dog-info-body {
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 1rem;
} */

.open {
    height: auto;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 1rem;
}

.closed {
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 4;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 1.5rem;
}

.myDogCard {
    width: 20rem;
    min-height: 38rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.friendsLink {
    font-size: 1rem;
    color: var(--darkred);
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}

.profileHeader {
    size: 2rem;
    color: white;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.notificationHeader {
    size: 4rem;
    color: var(--darkred);
    font-weight: bold;
    font-family: Dokdo;
    margin-top: 2rem;
}

.check-and-x {
    margin-top: 10rem;
}

.wrapper {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.notificationPageContainer {
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    width: 1200px;
}

.card-img-overlay {
    position: relative;
    border-radius: calc(0.25rem - 1px);
    pointer-events: none;
}

.need-dog-profile-error {
    height: 10rem;
    width: 20rem;
    background-color: var(--yellow);
}

.sentence-and-link {
    display: flex;
    justify-content: center;
}

.create-dog-prompt {
    width: 60%;
    height: auto;
    border: 6px var(--red) solid;
    border-radius: 25px;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Cutive Mono';
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 5rem;
}

.step-1-prompt {
    padding-top: 1rem;
    padding-right:  0.5rem;
}

.login-register-header {
    font-family: Dokdo;
    color: var(--blue);
    font-size: 2.5rem;
}

.div-create-account {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
}

.button-create-account {
    background-color: var(--blue);
    border: none;
}

.testimonial-text {
    font-family: 'Courier New', Courier, monospace;
}